/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0 auto;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slider_2_item ul{
	position: relative;
    margin: 0;
    padding: 0 60px;
}
.slider_2_item button.slick-arrow, .slider_6_item button.slick-arrow{
	position: absolute;
	text-indent: -10000px;
	display: inline-block;
	height: 68px;
	width: 68px;
	top: 125px;
	border: none;
	z-index: 50;
}
.slider_6_item button.slick-arrow {
    top: 175px;
}
.slider_2_item button.slick-arrow.slick-prev, .slider_6_item button.slick-arrow.slick-prev {
	background:  url(../images/next.png) 0 0 no-repeat;
	left: 25px;
}
.slider_6_item button.slick-arrow.slick-prev {
    left: 0;
}
.slider_2_item button.slick-arrow.slick-next, .slider_6_item button.slick-arrow.slick-next {
	background:  url(../images/prev.png) 0 0 no-repeat;
	right: 45px;
	background-size: cover;
}
.slider_6_item button.slick-arrow.slick-next {
    right: 0;
}

.slide_6_item > a {
    width: 323px;
    height: 210px;
    display: inline-block;
}
.footer_slider_block {
    padding-top: 30px;
}
.footer_slide_block {
    width: 80%;
    display: flex;
    flex-direction: row;
}
.footer_slide_block_img_wrap {
    width: 40%;
}
.footer_slide_block_desk {
    width: 60%;
}