@navbar-breakpoint:    768px;
.navbar-header {
	a {
			display: inline-block;
			padding-top: 37px;
		span {
		display: inline-block;
		text-indent: -10000px;	}
	}

}
.navbar {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	&-nav {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		> li {
			padding: 0 20px 37px;
			> a {
				text-transform: uppercase;
				display: inline-block;
				border-bottom: 1px dotted @gc;
				padding: 37px 0 4px;
				font-size: 14px;
			}
				> a:hover {
					background: none;
				color: #251212;
				border-bottom: none;
			}
		}
		> .navbar-nav_search {

			a {
				border-bottom: 1px solid transparent;
				> .navbar-nav_search_block {
				background-color: #1d88e6;
				display: inline-block;
				position: relative;
				top: -12px;
				color: #fff;
				padding: 12px 20px;
				border-radius: 5px;
				> .glyphicons {
					color: @gc3;
					display: inline-block;
					font-size: 18px;
					margin-right: 10px;
				}
				}
			}
			
			}
			> .navbar-nav_search:hover {
				border-bottom: 1px solid transparent;
			}
		

		

		> li:last-child {
			padding-right: 0;
		}
		

		> li:hover {
			border-bottom: 3px solid @gc3;
			cursor: pointer;
			a {
				color: #251212;
				border-bottom: none;
			}
		}
		> li.active {
			border-bottom: 3px solid @gc3;
			cursor: default;
			a {
				color: #251212;
				border-bottom: none;
				cursor: default;
				background: none;
			}
		}

	}
	&-toggle {
		@media all and (min-width: @navbar-breakpoint)  {
			display: none;
		}
	}
	&-collapse {
		@media all and (max-width: @navbar-breakpoint - 1px)  {
			display: none;
		}
	}
}
.main_search_pills {
		padding-bottom: 25px;
	li {
		a {
			background: none;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			border: 1px solid transparent;
			span {
				display: inline-block;
				margin-right: 5px;
				color: @gc3;
			}
		}
		a:hover {
			background: none;
		}
		
	}
	.active a {
		border: 1px solid @gc3;
		border-radius: 4px;
		span {color: #fff;}
	}
	

}
.navbar-nav > li > a:focus {
		background: none;
	}
.main_gallery_pills {
	li {
			padding: 10px 15px;
		a {
			background: none;
			font-size: 13px;
			color: @gc;
			border-bottom: 1px dotted @gc;
			padding: 0;
			border-radius: 0;
		}
		a:hover {
			background: none;
				color: @gc2;
		}
	}
	> li.active {
		border-bottom: 1px solid transparent;
		background-image: linear-gradient(to top, #edf3f8 0%, #f1f7fa 100%);
		border-radius: 4px;

	}
	> li.active > a {
		background: none;
		border: none;
		color: @gc2;
	}
	> li.active > a:hover {
		color: @gc2;
		background: none;
	}
	> li.active > a:focus {
		color: @gc2;
		background: none;
	}

}
.main_gallery_pills_inverse {
	li {
			border: 2px solid transparent;
		a {
			color: #fff;
			border-bottom: 1px dotted #fff;
		}
		a:hover {
			background: none;
		}
		
	}
	> li.active {
		border: 2px solid @gc3;
		border-radius: 4px;
		background: none;
	>	a {
			color: #fff;
		}
		>	a:focus {
			color: #fff;
		}
		}
}
.pagination_block {
	display: flex;
	justify-content: center;
	.pagination {
		li {
			
			a {
				margin: 0 3px;
				border: 1px solid #dde7f1;
				border-radius: 3px;
				color: #838e98;
			}
			span {
				border: none;
				background: none;
			}
		}
	}
}
